@import url(../assets/fonts/fonts.css);
* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
.into-image {
    height: 100%;
    width: 100%;
    background-image: url('../assets/bg-moon_vrzugt.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.forfont{
    font-family: "Cattedrale", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 78px;
    text-align: center;
    position: relative;
    top:-20px;
}
.overall-page{
    display: flex;
    flex-direction: column;  
}
.input-items{
    display: flex;
    flex-direction: column;
    width:330px;
    gap:10px;
    text-align: center;
    position: relative;
    top:-50px;
}
.input-items input{
    padding:10px;
    outline: none;
    border:none;
    background-color: rgb(100, 149, 237,0.4);
    border-radius: 3px;
}
.input-items input:hover{
    border: 1px solid black;
}
.input-items button{
    padding:8px;
    outline: none;
    border:none;
    border-radius: 3px;
    background-color: rgb(29, 29, 70);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.input-items a{
    color: rgb(7, 7, 238,0.6);
    cursor: pointer;
}
.error {
    color: red;
    font-size: 17px;
}
